{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error"]
  }
}
